<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>wedingram || Home</title>
    <link rel="stylesheet" href="/styleSheets/index.css" />
  </head>
  <body>
    <div id="main">
      <div id="page1">
        <div id="over">
          <div id="overlay">
            <div id="nav-bar">
              <img src="images/cropped-shaadi-logo.png.webp" alt="" />
              <div id="nav-part1">
                <button id="login-btn">
                  <a href="">Log In</a>
                </button>
                <button id="signin-btn">
                  <h4>Sign In</h4>
                </button>
              </div>
              <div class="ham">
                <i class="ri-menu-fold-4-line"></i>
              </div>
              <div class="side">
                <i class="ri-close-fill"></i>
                <a href="#">Login</a
                ><span
                  ><svg
                    width="100%"
                    height="100%"
                    preserveAspectRatio="none"
                    viewBox="0 0 288 86"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      id="sing"
                      d="M198.086 1C169.094 2.77501 140.095 5.79744 111.297 9.52845C81.2068 13.4268 49.2426 16.7779 22.049 31.3513C10.9448 37.3021 -9.86489 51.6894 6.64758 64.6122C18.6794 74.0284 36.0042 77.3557 50.5942 79.6624C93.0905 86.3812 137.226 84.9735 179.976 81.92C207.352 79.9645 234.815 76.7903 261.398 69.7293C264.129 69.0038 290.594 63.7226 285.478 55.2811C279.285 45.0629 260.858 39.0715 250.862 35.1138C215.866 21.2576 178.426 12.8797 140.996 9.37795C112.997 6.75854 84.1452 6.56171 56.5641 12.7392C45.1466 15.2964 22.4009 20.6362 19.7914 35.3145C18.4598 42.8052 24.7073 48.9623 30.7279 52.0704C50.1103 62.0764 75.6686 62.7927 96.8987 63.358C132.464 64.305 167.463 58.9478 201.698 49.7627"
                      stroke="black"
                      stroke-width="2"
                      stroke-linecap="round"
                      style="
                        stroke-dasharray: 994.474;
                        stroke-dashoffset: 994.474;
                      "
                    ></path></svg
                ></span>
                <a href="#">LogOut</a
                ><span
                  ><svg
                    width="100%"
                    height="100%"
                    preserveAspectRatio="none"
                    viewBox="0 0 288 86"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      id="sing"
                      d="M198.086 1C169.094 2.77501 140.095 5.79744 111.297 9.52845C81.2068 13.4268 49.2426 16.7779 22.049 31.3513C10.9448 37.3021 -9.86489 51.6894 6.64758 64.6122C18.6794 74.0284 36.0042 77.3557 50.5942 79.6624C93.0905 86.3812 137.226 84.9735 179.976 81.92C207.352 79.9645 234.815 76.7903 261.398 69.7293C264.129 69.0038 290.594 63.7226 285.478 55.2811C279.285 45.0629 260.858 39.0715 250.862 35.1138C215.866 21.2576 178.426 12.8797 140.996 9.37795C112.997 6.75854 84.1452 6.56171 56.5641 12.7392C45.1466 15.2964 22.4009 20.6362 19.7914 35.3145C18.4598 42.8052 24.7073 48.9623 30.7279 52.0704C50.1103 62.0764 75.6686 62.7927 96.8987 63.358C132.464 64.305 167.463 58.9478 201.698 49.7627"
                      stroke="black"
                      stroke-width="2"
                      stroke-linecap="round"
                      style="
                        stroke-dasharray: 994.474;
                        stroke-dashoffset: 994.474;
                      "
                    ></path></svg
                ></span>
              </div>
            </div>
            <h1>
              INDIA'S <span style="color: #fd5c5f">NO. 1</span> <br />
              TRUSTED <br />
              MATRIMONIAL
            </h1>
          </div>
        </div>
      </div>

      <div id="page2">
        <div class="steps-container">
          <h2>Four Simple Steps to find your Life Partner</h2>
          <div class="steps">
            <div class="step">
              <div class="icon">
                <img src="images/icon1.png" alt="Create Your Profile" />
                <div class="step-number">01</div>
              </div>
              <h3>Create Your Profile</h3>
              <p>
                Just fill basic details & access the huge database of Brides /
                Grooms
              </p>
            </div>
            <div class="arrow">→</div>
            <div class="step">
              <div class="icon">
                <img src="images/icon2.png" alt="Set Partner Preference" />
                <div class="step-number">02</div>
              </div>
              <h3>Set Partner Preference</h3>
              <p>
                Set your Partner Preference & let's match your requirement with
                others
              </p>
            </div>
            <div class="arrow">→</div>
            <div class="step">
              <div class="icon">
                <img src="images/icon3.png" alt="Receive Matching Profiles" />
                <div class="step-number">03</div>
              </div>
              <h3>Receive Matching Profiles</h3>
              <p>
                Receive matching profiles daily as per your set partner
                preference
              </p>
            </div>
            <div class="arrow">→</div>
            <div class="step">
              <div class="icon">
                <img
                  src="images/icon4.png"
                  alt="Send/Receive Interest & Calls"
                />
                <div class="step-number">04</div>
              </div>
              <h3>Send/Receive Interest & Calls</h3>
              <p>Send/receive Interest to suitable profiles and Connect</p>
            </div>
          </div>
          <button class="register-btn">Register FREE</button>
        </div>
      </div>

      <div id="page3">
        <h1 class="page3-heading">Explore Matrimonial Profile By</h1>

        <div id="bubble-effect">
          <div id="fixed-img"></div>
          <div
            class="elem"
            data-image="https://img2.sangam.com/assets/home/HomePage_Default_Final_Mobile.webp"
          >
            <div id="overlay2"></div>
            <h1>COMMUNITY</h1>
          </div>

          <div
            class="elem"
            data-image="https://images.unsplash.com/photo-1493728695749-5a3603bd6908?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDh8fHJlbGlnaW9zJTIwcGVwb2xlJTIwaW4lMjBpbmRpYXxlbnwwfHwwfHx8MA%3D%3D"
          >
            <div id="overlay2"></div>
            <h1>RELIGION</h1>
          </div>

          <div
            class="elem"
            data-image="https://images.unsplash.com/photo-1516366353199-ed694fec414f?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzB8fGNvdW50cnl8ZW58MHx8MHx8fDA%3D"
          >
            <div id="overlay2"></div>
            <h1>COUNTRY</h1>
          </div>

          <div
            class="elem"
            data-image="https://images.unsplash.com/photo-1529519195486-16945f0fb37f?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTZ8fHJpbmd8ZW58MHx8MHx8fDA%3D"
          >
            <div id="overlay2"></div>
            <h1>MARITAL STATUS</h1>
          </div>

          <div
            class="elem"
            data-image="https://images.unsplash.com/photo-1514392181188-8f5d54262fa5?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8aW5kaWFzJTIwY2l0eXxlbnwwfHwwfHx8MA%3D%3D"
          >
            <div id="overlay2"></div>
            <h1>CITY</h1>
          </div>
        </div>
      </div>

      <div id="page4">
        <div class="container">
          <!-- <div class="header">
                <img src="logo.png" alt="Logo">
                <button class="register-btn">Register Free</button>
            </div> -->

          <h1>
            <span style="color: #fd5c5f; padding: 10px">Membership</span>Plan
          </h1>
          <div class="plans">
            <div class="plan free">
              <h2>Free</h2>
              <ul>
                <li>✔ Browse Profiles</li>
                <li>✔ Shortlist & Send Interest</li>
                <li>✔ Message & chat with unlimited users</li>
                <li>✘ Get up to 3x more matches daily</li>
                <li>✘ Unlock access to advanced search</li>
                <li>✘ View contact details</li>
                <li>✘ Make unlimited voice and video calls</li>
                <li>✘ Get 3 free Spotlights</li>
              </ul>
              <button class="register-btn">Register Free</button>
            </div>
            <div class="plan paid">
              <h2>Paid</h2>
              <ul>
                <li>✔ Browse Profiles</li>
                <li>✔ Shortlist & Send Interest</li>
                <li>✔ Message & chat with unlimited users</li>
                <li>✔ Get up to 3x more matches daily</li>
                <li>✔ Unlock access to advanced search</li>
                <li>✔ View contact details</li>
                <li>✔ Make unlimited voice and video calls</li>
                <li>✔ Get 3 free Spotlights</li>
              </ul>
              <button class="membership-btn">Browse Membership Plans</button>
            </div>
          </div>
        </div>
      </div>

      <div id="page5">
        <footer>
          <div class="footer-section">
            <h3>Need Help?</h3>

            <ul>
              <li>
                <a href="#">Member Login</a
                ><span
                  ><svg
                    width="100%"
                    height="100%"
                    preserveAspectRatio="none"
                    viewBox="0 0 288 86"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      id="sing"
                      d="M198.086 1C169.094 2.77501 140.095 5.79744 111.297 9.52845C81.2068 13.4268 49.2426 16.7779 22.049 31.3513C10.9448 37.3021 -9.86489 51.6894 6.64758 64.6122C18.6794 74.0284 36.0042 77.3557 50.5942 79.6624C93.0905 86.3812 137.226 84.9735 179.976 81.92C207.352 79.9645 234.815 76.7903 261.398 69.7293C264.129 69.0038 290.594 63.7226 285.478 55.2811C279.285 45.0629 260.858 39.0715 250.862 35.1138C215.866 21.2576 178.426 12.8797 140.996 9.37795C112.997 6.75854 84.1452 6.56171 56.5641 12.7392C45.1466 15.2964 22.4009 20.6362 19.7914 35.3145C18.4598 42.8052 24.7073 48.9623 30.7279 52.0704C50.1103 62.0764 75.6686 62.7927 96.8987 63.358C132.464 64.305 167.463 58.9478 201.698 49.7627"
                      stroke="black"
                      stroke-width="2"
                      stroke-linecap="round"
                      style="
                        stroke-dasharray: 994.474;
                        stroke-dashoffset: 994.474;
                      "
                    ></path></svg
                ></span>
              </li>
              <li>
                <a href="#">Sign Up</a
                ><span
                  ><svg
                    width="100%"
                    height="100%"
                    preserveAspectRatio="none"
                    viewBox="0 0 288 86"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      id="sing"
                      d="M198.086 1C169.094 2.77501 140.095 5.79744 111.297 9.52845C81.2068 13.4268 49.2426 16.7779 22.049 31.3513C10.9448 37.3021 -9.86489 51.6894 6.64758 64.6122C18.6794 74.0284 36.0042 77.3557 50.5942 79.6624C93.0905 86.3812 137.226 84.9735 179.976 81.92C207.352 79.9645 234.815 76.7903 261.398 69.7293C264.129 69.0038 290.594 63.7226 285.478 55.2811C279.285 45.0629 260.858 39.0715 250.862 35.1138C215.866 21.2576 178.426 12.8797 140.996 9.37795C112.997 6.75854 84.1452 6.56171 56.5641 12.7392C45.1466 15.2964 22.4009 20.6362 19.7914 35.3145C18.4598 42.8052 24.7073 48.9623 30.7279 52.0704C50.1103 62.0764 75.6686 62.7927 96.8987 63.358C132.464 64.305 167.463 58.9478 201.698 49.7627"
                      stroke="black"
                      stroke-width="2"
                      stroke-linecap="round"
                      style="
                        stroke-dasharray: 994.474;
                        stroke-dashoffset: 994.474;
                      "
                    ></path></svg
                ></span>
              </li>
              <li>
                <a href="#">Partner Search</a
                ><span
                  ><svg
                    width="100%"
                    height="100%"
                    preserveAspectRatio="none"
                    viewBox="0 0 288 86"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      id="sing"
                      d="M198.086 1C169.094 2.77501 140.095 5.79744 111.297 9.52845C81.2068 13.4268 49.2426 16.7779 22.049 31.3513C10.9448 37.3021 -9.86489 51.6894 6.64758 64.6122C18.6794 74.0284 36.0042 77.3557 50.5942 79.6624C93.0905 86.3812 137.226 84.9735 179.976 81.92C207.352 79.9645 234.815 76.7903 261.398 69.7293C264.129 69.0038 290.594 63.7226 285.478 55.2811C279.285 45.0629 260.858 39.0715 250.862 35.1138C215.866 21.2576 178.426 12.8797 140.996 9.37795C112.997 6.75854 84.1452 6.56171 56.5641 12.7392C45.1466 15.2964 22.4009 20.6362 19.7914 35.3145C18.4598 42.8052 24.7073 48.9623 30.7279 52.0704C50.1103 62.0764 75.6686 62.7927 96.8987 63.358C132.464 64.305 167.463 58.9478 201.698 49.7627"
                      stroke="black"
                      stroke-width="2"
                      stroke-linecap="round"
                      style="
                        stroke-dasharray: 994.474;
                        stroke-dashoffset: 994.474;
                      "
                    ></path></svg
                ></span>
              </li>
              <li>
                <a href="#">How to Use Shaadi.com</a
                ><span
                  ><svg
                    width="100%"
                    height="100%"
                    preserveAspectRatio="none"
                    viewBox="0 0 288 86"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      id="sing"
                      d="M198.086 1C169.094 2.77501 140.095 5.79744 111.297 9.52845C81.2068 13.4268 49.2426 16.7779 22.049 31.3513C10.9448 37.3021 -9.86489 51.6894 6.64758 64.6122C18.6794 74.0284 36.0042 77.3557 50.5942 79.6624C93.0905 86.3812 137.226 84.9735 179.976 81.92C207.352 79.9645 234.815 76.7903 261.398 69.7293C264.129 69.0038 290.594 63.7226 285.478 55.2811C279.285 45.0629 260.858 39.0715 250.862 35.1138C215.866 21.2576 178.426 12.8797 140.996 9.37795C112.997 6.75854 84.1452 6.56171 56.5641 12.7392C45.1466 15.2964 22.4009 20.6362 19.7914 35.3145C18.4598 42.8052 24.7073 48.9623 30.7279 52.0704C50.1103 62.0764 75.6686 62.7927 96.8987 63.358C132.464 64.305 167.463 58.9478 201.698 49.7627"
                      stroke="black"
                      stroke-width="2"
                      stroke-linecap="round"
                      style="
                        stroke-dasharray: 994.474;
                        stroke-dashoffset: 994.474;
                      "
                    ></path></svg
                ></span>
              </li>
              <li>
                <a href="#">Premium Memberships</a
                ><span
                  ><svg
                    width="100%"
                    height="100%"
                    preserveAspectRatio="none"
                    viewBox="0 0 288 86"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      id="sing"
                      d="M198.086 1C169.094 2.77501 140.095 5.79744 111.297 9.52845C81.2068 13.4268 49.2426 16.7779 22.049 31.3513C10.9448 37.3021 -9.86489 51.6894 6.64758 64.6122C18.6794 74.0284 36.0042 77.3557 50.5942 79.6624C93.0905 86.3812 137.226 84.9735 179.976 81.92C207.352 79.9645 234.815 76.7903 261.398 69.7293C264.129 69.0038 290.594 63.7226 285.478 55.2811C279.285 45.0629 260.858 39.0715 250.862 35.1138C215.866 21.2576 178.426 12.8797 140.996 9.37795C112.997 6.75854 84.1452 6.56171 56.5641 12.7392C45.1466 15.2964 22.4009 20.6362 19.7914 35.3145C18.4598 42.8052 24.7073 48.9623 30.7279 52.0704C50.1103 62.0764 75.6686 62.7927 96.8987 63.358C132.464 64.305 167.463 58.9478 201.698 49.7627"
                      stroke="black"
                      stroke-width="2"
                      stroke-linecap="round"
                      style="
                        stroke-dasharray: 994.474;
                        stroke-dashoffset: 994.474;
                      "
                    ></path></svg
                ></span>
              </li>
              <li>
                <a href="#">Customer Support</a
                ><span
                  ><svg
                    width="100%"
                    height="100%"
                    preserveAspectRatio="none"
                    viewBox="0 0 288 86"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      id="sing"
                      d="M198.086 1C169.094 2.77501 140.095 5.79744 111.297 9.52845C81.2068 13.4268 49.2426 16.7779 22.049 31.3513C10.9448 37.3021 -9.86489 51.6894 6.64758 64.6122C18.6794 74.0284 36.0042 77.3557 50.5942 79.6624C93.0905 86.3812 137.226 84.9735 179.976 81.92C207.352 79.9645 234.815 76.7903 261.398 69.7293C264.129 69.0038 290.594 63.7226 285.478 55.2811C279.285 45.0629 260.858 39.0715 250.862 35.1138C215.866 21.2576 178.426 12.8797 140.996 9.37795C112.997 6.75854 84.1452 6.56171 56.5641 12.7392C45.1466 15.2964 22.4009 20.6362 19.7914 35.3145C18.4598 42.8052 24.7073 48.9623 30.7279 52.0704C50.1103 62.0764 75.6686 62.7927 96.8987 63.358C132.464 64.305 167.463 58.9478 201.698 49.7627"
                      stroke="black"
                      stroke-width="2"
                      stroke-linecap="round"
                      style="
                        stroke-dasharray: 994.474;
                        stroke-dashoffset: 994.474;
                      "
                    ></path></svg
                ></span>
              </li>
              <li>
                <a href="#">Site Map</a
                ><span
                  ><svg
                    width="100%"
                    height="100%"
                    preserveAspectRatio="none"
                    viewBox="0 0 288 86"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      id="sing"
                      d="M198.086 1C169.094 2.77501 140.095 5.79744 111.297 9.52845C81.2068 13.4268 49.2426 16.7779 22.049 31.3513C10.9448 37.3021 -9.86489 51.6894 6.64758 64.6122C18.6794 74.0284 36.0042 77.3557 50.5942 79.6624C93.0905 86.3812 137.226 84.9735 179.976 81.92C207.352 79.9645 234.815 76.7903 261.398 69.7293C264.129 69.0038 290.594 63.7226 285.478 55.2811C279.285 45.0629 260.858 39.0715 250.862 35.1138C215.866 21.2576 178.426 12.8797 140.996 9.37795C112.997 6.75854 84.1452 6.56171 56.5641 12.7392C45.1466 15.2964 22.4009 20.6362 19.7914 35.3145C18.4598 42.8052 24.7073 48.9623 30.7279 52.0704C50.1103 62.0764 75.6686 62.7927 96.8987 63.358C132.464 64.305 167.463 58.9478 201.698 49.7627"
                      stroke="black"
                      stroke-width="2"
                      stroke-linecap="round"
                      style="
                        stroke-dasharray: 994.474;
                        stroke-dashoffset: 994.474;
                      "
                    ></path></svg
                ></span>
              </li>
            </ul>
          </div>
          <div class="footer-section">
            <h3>Company</h3>

            <ul>
              <li>
                <a href="#">About Us</a
                ><span
                  ><svg
                    width="100%"
                    height="100%"
                    preserveAspectRatio="none"
                    viewBox="0 0 288 86"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      id="sing"
                      d="M198.086 1C169.094 2.77501 140.095 5.79744 111.297 9.52845C81.2068 13.4268 49.2426 16.7779 22.049 31.3513C10.9448 37.3021 -9.86489 51.6894 6.64758 64.6122C18.6794 74.0284 36.0042 77.3557 50.5942 79.6624C93.0905 86.3812 137.226 84.9735 179.976 81.92C207.352 79.9645 234.815 76.7903 261.398 69.7293C264.129 69.0038 290.594 63.7226 285.478 55.2811C279.285 45.0629 260.858 39.0715 250.862 35.1138C215.866 21.2576 178.426 12.8797 140.996 9.37795C112.997 6.75854 84.1452 6.56171 56.5641 12.7392C45.1466 15.2964 22.4009 20.6362 19.7914 35.3145C18.4598 42.8052 24.7073 48.9623 30.7279 52.0704C50.1103 62.0764 75.6686 62.7927 96.8987 63.358C132.464 64.305 167.463 58.9478 201.698 49.7627"
                      stroke="black"
                      stroke-width="2"
                      stroke-linecap="round"
                      style="
                        stroke-dasharray: 994.474;
                        stroke-dashoffset: 994.474;
                      "
                    ></path></svg
                ></span>
              </li>
              <li>
                <a href="#">Shaadi Blog</a
                ><span
                  ><svg
                    width="100%"
                    height="100%"
                    preserveAspectRatio="none"
                    viewBox="0 0 288 86"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      id="sing"
                      d="M198.086 1C169.094 2.77501 140.095 5.79744 111.297 9.52845C81.2068 13.4268 49.2426 16.7779 22.049 31.3513C10.9448 37.3021 -9.86489 51.6894 6.64758 64.6122C18.6794 74.0284 36.0042 77.3557 50.5942 79.6624C93.0905 86.3812 137.226 84.9735 179.976 81.92C207.352 79.9645 234.815 76.7903 261.398 69.7293C264.129 69.0038 290.594 63.7226 285.478 55.2811C279.285 45.0629 260.858 39.0715 250.862 35.1138C215.866 21.2576 178.426 12.8797 140.996 9.37795C112.997 6.75854 84.1452 6.56171 56.5641 12.7392C45.1466 15.2964 22.4009 20.6362 19.7914 35.3145C18.4598 42.8052 24.7073 48.9623 30.7279 52.0704C50.1103 62.0764 75.6686 62.7927 96.8987 63.358C132.464 64.305 167.463 58.9478 201.698 49.7627"
                      stroke="black"
                      stroke-width="2"
                      stroke-linecap="round"
                      style="
                        stroke-dasharray: 994.474;
                        stroke-dashoffset: 994.474;
                      "
                    ></path></svg
                ></span>
              </li>
              <li>
                <a href="#">Careers</a
                ><span
                  ><svg
                    width="100%"
                    height="100%"
                    preserveAspectRatio="none"
                    viewBox="0 0 288 86"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      id="sing"
                      d="M198.086 1C169.094 2.77501 140.095 5.79744 111.297 9.52845C81.2068 13.4268 49.2426 16.7779 22.049 31.3513C10.9448 37.3021 -9.86489 51.6894 6.64758 64.6122C18.6794 74.0284 36.0042 77.3557 50.5942 79.6624C93.0905 86.3812 137.226 84.9735 179.976 81.92C207.352 79.9645 234.815 76.7903 261.398 69.7293C264.129 69.0038 290.594 63.7226 285.478 55.2811C279.285 45.0629 260.858 39.0715 250.862 35.1138C215.866 21.2576 178.426 12.8797 140.996 9.37795C112.997 6.75854 84.1452 6.56171 56.5641 12.7392C45.1466 15.2964 22.4009 20.6362 19.7914 35.3145C18.4598 42.8052 24.7073 48.9623 30.7279 52.0704C50.1103 62.0764 75.6686 62.7927 96.8987 63.358C132.464 64.305 167.463 58.9478 201.698 49.7627"
                      stroke="black"
                      stroke-width="2"
                      stroke-linecap="round"
                      style="
                        stroke-dasharray: 994.474;
                        stroke-dashoffset: 994.474;
                      "
                    ></path></svg
                ></span>
              </li>
              <li>
                <a href="#">Awards & Recognition</a
                ><span
                  ><svg
                    width="100%"
                    height="100%"
                    preserveAspectRatio="none"
                    viewBox="0 0 288 86"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      id="sing"
                      d="M198.086 1C169.094 2.77501 140.095 5.79744 111.297 9.52845C81.2068 13.4268 49.2426 16.7779 22.049 31.3513C10.9448 37.3021 -9.86489 51.6894 6.64758 64.6122C18.6794 74.0284 36.0042 77.3557 50.5942 79.6624C93.0905 86.3812 137.226 84.9735 179.976 81.92C207.352 79.9645 234.815 76.7903 261.398 69.7293C264.129 69.0038 290.594 63.7226 285.478 55.2811C279.285 45.0629 260.858 39.0715 250.862 35.1138C215.866 21.2576 178.426 12.8797 140.996 9.37795C112.997 6.75854 84.1452 6.56171 56.5641 12.7392C45.1466 15.2964 22.4009 20.6362 19.7914 35.3145C18.4598 42.8052 24.7073 48.9623 30.7279 52.0704C50.1103 62.0764 75.6686 62.7927 96.8987 63.358C132.464 64.305 167.463 58.9478 201.698 49.7627"
                      stroke="black"
                      stroke-width="2"
                      stroke-linecap="round"
                      style="
                        stroke-dasharray: 994.474;
                        stroke-dashoffset: 994.474;
                      "
                    ></path></svg
                ></span>
              </li>
              <li>
                <a href="#">Cov-Aid</a
                ><span
                  ><svg
                    width="100%"
                    height="100%"
                    preserveAspectRatio="none"
                    viewBox="0 0 288 86"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      id="sing"
                      d="M198.086 1C169.094 2.77501 140.095 5.79744 111.297 9.52845C81.2068 13.4268 49.2426 16.7779 22.049 31.3513C10.9448 37.3021 -9.86489 51.6894 6.64758 64.6122C18.6794 74.0284 36.0042 77.3557 50.5942 79.6624C93.0905 86.3812 137.226 84.9735 179.976 81.92C207.352 79.9645 234.815 76.7903 261.398 69.7293C264.129 69.0038 290.594 63.7226 285.478 55.2811C279.285 45.0629 260.858 39.0715 250.862 35.1138C215.866 21.2576 178.426 12.8797 140.996 9.37795C112.997 6.75854 84.1452 6.56171 56.5641 12.7392C45.1466 15.2964 22.4009 20.6362 19.7914 35.3145C18.4598 42.8052 24.7073 48.9623 30.7279 52.0704C50.1103 62.0764 75.6686 62.7927 96.8987 63.358C132.464 64.305 167.463 58.9478 201.698 49.7627"
                      stroke="black"
                      stroke-width="2"
                      stroke-linecap="round"
                      style="
                        stroke-dasharray: 994.474;
                        stroke-dashoffset: 994.474;
                      "
                    ></path></svg
                ></span>
              </li>
              <li>
                <a href="#">Contact Us</a
                ><span
                  ><svg
                    width="100%"
                    height="100%"
                    preserveAspectRatio="none"
                    viewBox="0 0 288 86"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      id="sing"
                      d="M198.086 1C169.094 2.77501 140.095 5.79744 111.297 9.52845C81.2068 13.4268 49.2426 16.7779 22.049 31.3513C10.9448 37.3021 -9.86489 51.6894 6.64758 64.6122C18.6794 74.0284 36.0042 77.3557 50.5942 79.6624C93.0905 86.3812 137.226 84.9735 179.976 81.92C207.352 79.9645 234.815 76.7903 261.398 69.7293C264.129 69.0038 290.594 63.7226 285.478 55.2811C279.285 45.0629 260.858 39.0715 250.862 35.1138C215.866 21.2576 178.426 12.8797 140.996 9.37795C112.997 6.75854 84.1452 6.56171 56.5641 12.7392C45.1466 15.2964 22.4009 20.6362 19.7914 35.3145C18.4598 42.8052 24.7073 48.9623 30.7279 52.0704C50.1103 62.0764 75.6686 62.7927 96.8987 63.358C132.464 64.305 167.463 58.9478 201.698 49.7627"
                      stroke="black"
                      stroke-width="2"
                      stroke-linecap="round"
                      style="
                        stroke-dasharray: 994.474;
                        stroke-dashoffset: 994.474;
                      "
                    ></path></svg
                ></span>
              </li>
            </ul>
          </div>
          <div class="footer-section">
            <h3>Privacy & You</h3>

            <ul>
              <li>
                <a href="#">Terms of Use</a
                ><span
                  ><svg
                    width="100%"
                    height="100%"
                    preserveAspectRatio="none"
                    viewBox="0 0 288 86"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      id="sing"
                      d="M198.086 1C169.094 2.77501 140.095 5.79744 111.297 9.52845C81.2068 13.4268 49.2426 16.7779 22.049 31.3513C10.9448 37.3021 -9.86489 51.6894 6.64758 64.6122C18.6794 74.0284 36.0042 77.3557 50.5942 79.6624C93.0905 86.3812 137.226 84.9735 179.976 81.92C207.352 79.9645 234.815 76.7903 261.398 69.7293C264.129 69.0038 290.594 63.7226 285.478 55.2811C279.285 45.0629 260.858 39.0715 250.862 35.1138C215.866 21.2576 178.426 12.8797 140.996 9.37795C112.997 6.75854 84.1452 6.56171 56.5641 12.7392C45.1466 15.2964 22.4009 20.6362 19.7914 35.3145C18.4598 42.8052 24.7073 48.9623 30.7279 52.0704C50.1103 62.0764 75.6686 62.7927 96.8987 63.358C132.464 64.305 167.463 58.9478 201.698 49.7627"
                      stroke="black"
                      stroke-width="2"
                      stroke-linecap="round"
                      style="
                        stroke-dasharray: 994.474;
                        stroke-dashoffset: 994.474;
                      "
                    ></path></svg
                ></span>
              </li>
              <li>
                <a href="#">Privacy Policy</a
                ><span
                  ><svg
                    width="100%"
                    height="100%"
                    preserveAspectRatio="none"
                    viewBox="0 0 288 86"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      id="sing"
                      d="M198.086 1C169.094 2.77501 140.095 5.79744 111.297 9.52845C81.2068 13.4268 49.2426 16.7779 22.049 31.3513C10.9448 37.3021 -9.86489 51.6894 6.64758 64.6122C18.6794 74.0284 36.0042 77.3557 50.5942 79.6624C93.0905 86.3812 137.226 84.9735 179.976 81.92C207.352 79.9645 234.815 76.7903 261.398 69.7293C264.129 69.0038 290.594 63.7226 285.478 55.2811C279.285 45.0629 260.858 39.0715 250.862 35.1138C215.866 21.2576 178.426 12.8797 140.996 9.37795C112.997 6.75854 84.1452 6.56171 56.5641 12.7392C45.1466 15.2964 22.4009 20.6362 19.7914 35.3145C18.4598 42.8052 24.7073 48.9623 30.7279 52.0704C50.1103 62.0764 75.6686 62.7927 96.8987 63.358C132.464 64.305 167.463 58.9478 201.698 49.7627"
                      stroke="black"
                      stroke-width="2"
                      stroke-linecap="round"
                      style="
                        stroke-dasharray: 994.474;
                        stroke-dashoffset: 994.474;
                      "
                    ></path></svg
                ></span>
              </li>
              <li>
                <a href="#">Be Safe Online</a
                ><span
                  ><svg
                    width="100%"
                    height="100%"
                    preserveAspectRatio="none"
                    viewBox="0 0 288 86"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      id="sing"
                      d="M198.086 1C169.094 2.77501 140.095 5.79744 111.297 9.52845C81.2068 13.4268 49.2426 16.7779 22.049 31.3513C10.9448 37.3021 -9.86489 51.6894 6.64758 64.6122C18.6794 74.0284 36.0042 77.3557 50.5942 79.6624C93.0905 86.3812 137.226 84.9735 179.976 81.92C207.352 79.9645 234.815 76.7903 261.398 69.7293C264.129 69.0038 290.594 63.7226 285.478 55.2811C279.285 45.0629 260.858 39.0715 250.862 35.1138C215.866 21.2576 178.426 12.8797 140.996 9.37795C112.997 6.75854 84.1452 6.56171 56.5641 12.7392C45.1466 15.2964 22.4009 20.6362 19.7914 35.3145C18.4598 42.8052 24.7073 48.9623 30.7279 52.0704C50.1103 62.0764 75.6686 62.7927 96.8987 63.358C132.464 64.305 167.463 58.9478 201.698 49.7627"
                      stroke="black"
                      stroke-width="2"
                      stroke-linecap="round"
                      style="
                        stroke-dasharray: 994.474;
                        stroke-dashoffset: 994.474;
                      "
                    ></path></svg
                ></span>
              </li>
              <li>
                <a href="#">Report Misuse</a
                ><span
                  ><svg
                    width="100%"
                    height="100%"
                    preserveAspectRatio="none"
                    viewBox="0 0 288 86"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      id="sing"
                      d="M198.086 1C169.094 2.77501 140.095 5.79744 111.297 9.52845C81.2068 13.4268 49.2426 16.7779 22.049 31.3513C10.9448 37.3021 -9.86489 51.6894 6.64758 64.6122C18.6794 74.0284 36.0042 77.3557 50.5942 79.6624C93.0905 86.3812 137.226 84.9735 179.976 81.92C207.352 79.9645 234.815 76.7903 261.398 69.7293C264.129 69.0038 290.594 63.7226 285.478 55.2811C279.285 45.0629 260.858 39.0715 250.862 35.1138C215.866 21.2576 178.426 12.8797 140.996 9.37795C112.997 6.75854 84.1452 6.56171 56.5641 12.7392C45.1466 15.2964 22.4009 20.6362 19.7914 35.3145C18.4598 42.8052 24.7073 48.9623 30.7279 52.0704C50.1103 62.0764 75.6686 62.7927 96.8987 63.358C132.464 64.305 167.463 58.9478 201.698 49.7627"
                      stroke="black"
                      stroke-width="2"
                      stroke-linecap="round"
                      style="
                        stroke-dasharray: 994.474;
                        stroke-dashoffset: 994.474;
                      "
                    ></path></svg
                ></span>
              </li>
            </ul>
          </div>
          <div class="footer-section">
            <h3>More</h3>

            <ul>
              <li>
                <a href="#">VIP Shaadi</a
                ><span
                  ><svg
                    width="100%"
                    height="100%"
                    preserveAspectRatio="none"
                    viewBox="0 0 288 86"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      id="sing"
                      d="M198.086 1C169.094 2.77501 140.095 5.79744 111.297 9.52845C81.2068 13.4268 49.2426 16.7779 22.049 31.3513C10.9448 37.3021 -9.86489 51.6894 6.64758 64.6122C18.6794 74.0284 36.0042 77.3557 50.5942 79.6624C93.0905 86.3812 137.226 84.9735 179.976 81.92C207.352 79.9645 234.815 76.7903 261.398 69.7293C264.129 69.0038 290.594 63.7226 285.478 55.2811C279.285 45.0629 260.858 39.0715 250.862 35.1138C215.866 21.2576 178.426 12.8797 140.996 9.37795C112.997 6.75854 84.1452 6.56171 56.5641 12.7392C45.1466 15.2964 22.4009 20.6362 19.7914 35.3145C18.4598 42.8052 24.7073 48.9623 30.7279 52.0704C50.1103 62.0764 75.6686 62.7927 96.8987 63.358C132.464 64.305 167.463 58.9478 201.698 49.7627"
                      stroke="black"
                      stroke-width="2"
                      stroke-linecap="round"
                      style="
                        stroke-dasharray: 994.474;
                        stroke-dashoffset: 994.474;
                      "
                    ></path></svg
                ></span>
              </li>
              <li>
                <a href="#">Select Shaadi</a
                ><span
                  ><svg
                    width="100%"
                    height="100%"
                    preserveAspectRatio="none"
                    viewBox="0 0 288 86"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      id="sing"
                      d="M198.086 1C169.094 2.77501 140.095 5.79744 111.297 9.52845C81.2068 13.4268 49.2426 16.7779 22.049 31.3513C10.9448 37.3021 -9.86489 51.6894 6.64758 64.6122C18.6794 74.0284 36.0042 77.3557 50.5942 79.6624C93.0905 86.3812 137.226 84.9735 179.976 81.92C207.352 79.9645 234.815 76.7903 261.398 69.7293C264.129 69.0038 290.594 63.7226 285.478 55.2811C279.285 45.0629 260.858 39.0715 250.862 35.1138C215.866 21.2576 178.426 12.8797 140.996 9.37795C112.997 6.75854 84.1452 6.56171 56.5641 12.7392C45.1466 15.2964 22.4009 20.6362 19.7914 35.3145C18.4598 42.8052 24.7073 48.9623 30.7279 52.0704C50.1103 62.0764 75.6686 62.7927 96.8987 63.358C132.464 64.305 167.463 58.9478 201.698 49.7627"
                      stroke="black"
                      stroke-width="2"
                      stroke-linecap="round"
                      style="
                        stroke-dasharray: 994.474;
                        stroke-dashoffset: 994.474;
                      "
                    ></path></svg
                ></span>
              </li>
              <li>
                <a href="#">Sangam</a
                ><span
                  ><svg
                    width="100%"
                    height="100%"
                    preserveAspectRatio="none"
                    viewBox="0 0 288 86"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      id="sing"
                      d="M198.086 1C169.094 2.77501 140.095 5.79744 111.297 9.52845C81.2068 13.4268 49.2426 16.7779 22.049 31.3513C10.9448 37.3021 -9.86489 51.6894 6.64758 64.6122C18.6794 74.0284 36.0042 77.3557 50.5942 79.6624C93.0905 86.3812 137.226 84.9735 179.976 81.92C207.352 79.9645 234.815 76.7903 261.398 69.7293C264.129 69.0038 290.594 63.7226 285.478 55.2811C279.285 45.0629 260.858 39.0715 250.862 35.1138C215.866 21.2576 178.426 12.8797 140.996 9.37795C112.997 6.75854 84.1452 6.56171 56.5641 12.7392C45.1466 15.2964 22.4009 20.6362 19.7914 35.3145C18.4598 42.8052 24.7073 48.9623 30.7279 52.0704C50.1103 62.0764 75.6686 62.7927 96.8987 63.358C132.464 64.305 167.463 58.9478 201.698 49.7627"
                      stroke="black"
                      stroke-width="2"
                      stroke-linecap="round"
                      style="
                        stroke-dasharray: 994.474;
                        stroke-dashoffset: 994.474;
                      "
                    ></path></svg
                ></span>
              </li>
              <li>
                <a href="#">Shaadi Centres</a
                ><span
                  ><svg
                    width="100%"
                    height="100%"
                    preserveAspectRatio="none"
                    viewBox="0 0 288 86"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      id="sing"
                      d="M198.086 1C169.094 2.77501 140.095 5.79744 111.297 9.52845C81.2068 13.4268 49.2426 16.7779 22.049 31.3513C10.9448 37.3021 -9.86489 51.6894 6.64758 64.6122C18.6794 74.0284 36.0042 77.3557 50.5942 79.6624C93.0905 86.3812 137.226 84.9735 179.976 81.92C207.352 79.9645 234.815 76.7903 261.398 69.7293C264.129 69.0038 290.594 63.7226 285.478 55.2811C279.285 45.0629 260.858 39.0715 250.862 35.1138C215.866 21.2576 178.426 12.8797 140.996 9.37795C112.997 6.75854 84.1452 6.56171 56.5641 12.7392C45.1466 15.2964 22.4009 20.6362 19.7914 35.3145C18.4598 42.8052 24.7073 48.9623 30.7279 52.0704C50.1103 62.0764 75.6686 62.7927 96.8987 63.358C132.464 64.305 167.463 58.9478 201.698 49.7627"
                      stroke="black"
                      stroke-width="2"
                      stroke-linecap="round"
                      style="
                        stroke-dasharray: 994.474;
                        stroke-dashoffset: 994.474;
                      "
                    ></path></svg
                ></span>
              </li>
              <li>
                <a href="#">Success Stories</a
                ><span
                  ><svg
                    width="100%"
                    height="100%"
                    preserveAspectRatio="none"
                    viewBox="0 0 288 86"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      id="sing"
                      d="M198.086 1C169.094 2.77501 140.095 5.79744 111.297 9.52845C81.2068 13.4268 49.2426 16.7779 22.049 31.3513C10.9448 37.3021 -9.86489 51.6894 6.64758 64.6122C18.6794 74.0284 36.0042 77.3557 50.5942 79.6624C93.0905 86.3812 137.226 84.9735 179.976 81.92C207.352 79.9645 234.815 76.7903 261.398 69.7293C264.129 69.0038 290.594 63.7226 285.478 55.2811C279.285 45.0629 260.858 39.0715 250.862 35.1138C215.866 21.2576 178.426 12.8797 140.996 9.37795C112.997 6.75854 84.1452 6.56171 56.5641 12.7392C45.1466 15.2964 22.4009 20.6362 19.7914 35.3145C18.4598 42.8052 24.7073 48.9623 30.7279 52.0704C50.1103 62.0764 75.6686 62.7927 96.8987 63.358C132.464 64.305 167.463 58.9478 201.698 49.7627"
                      stroke="black"
                      stroke-width="2"
                      stroke-linecap="round"
                      style="
                        stroke-dasharray: 994.474;
                        stroke-dashoffset: 994.474;
                      "
                    ></path></svg
                ></span>
              </li>
              <li>
                <a href="#">Shaadi Live</a
                ><span
                  ><svg
                    width="100%"
                    height="100%"
                    preserveAspectRatio="none"
                    viewBox="0 0 288 86"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      id="sing"
                      d="M198.086 1C169.094 2.77501 140.095 5.79744 111.297 9.52845C81.2068 13.4268 49.2426 16.7779 22.049 31.3513C10.9448 37.3021 -9.86489 51.6894 6.64758 64.6122C18.6794 74.0284 36.0042 77.3557 50.5942 79.6624C93.0905 86.3812 137.226 84.9735 179.976 81.92C207.352 79.9645 234.815 76.7903 261.398 69.7293C264.129 69.0038 290.594 63.7226 285.478 55.2811C279.285 45.0629 260.858 39.0715 250.862 35.1138C215.866 21.2576 178.426 12.8797 140.996 9.37795C112.997 6.75854 84.1452 6.56171 56.5641 12.7392C45.1466 15.2964 22.4009 20.6362 19.7914 35.3145C18.4598 42.8052 24.7073 48.9623 30.7279 52.0704C50.1103 62.0764 75.6686 62.7927 96.8987 63.358C132.464 64.305 167.463 58.9478 201.698 49.7627"
                      stroke="black"
                      stroke-width="2"
                      stroke-linecap="round"
                      style="
                        stroke-dasharray: 994.474;
                        stroke-dashoffset: 994.474;
                      "
                    ></path></svg
                ></span>
              </li>
            </ul>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
