<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<!-- In your EJS file (e.g., search.ejs) -->
<form action="/user/search" method="get">
    <input type="text" name="query" placeholder="Enter search terms separated by commas">
    <button type="submit">Search</button>
  </form>
</body>
</html>